.container {
    border: 1px solid black;
}

.container img {
    float: left;
    /* aqui eu determino qual posição quero que o objeto seja colocado */
    margin-right: 20px;
}

.container1 {
    border: 1px solid black;
    overflow: auto;
}

.container1 img {
    float: left;
    /* aqui eu determino qual posição quero que o objeto seja colocado */
    margin-right: 20px;
}

.container2 {
    border: 1px solid black;
    overflow: auto;
}

.container2 img {
    float: left;
    /* aqui eu determino qual posição quero que o objeto seja colocado */
    margin-right: 20px;
    margin-bottom: 20px;
}

ul {
    background: black;
    padding: 20px;
}

li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

li a:hover {
    background: #ccc;
    color: black;
}

.login {
    float: right;
}

.login a:hover {
    background-color: orangered;
    color: white;
}

.img1 {
    opacity: 0.1;
}

.img2 {
    opacity: 0.5;
}

.img3 {
    opacity: 1;
}

.img1:hover {
    opacity: 1;
}

.img2:hover {
    opacity: 0.3;
}

.img3:hover {
    opacity: 0.1;
}

a.botao {
    padding: 15px;
    background: green;
    color: white;
    text-decoration: none;
    opacity: 1;
}

a.botao:hover {
    opacity: 0.8;
}

.transparente {
    background: blue;
    color: white;
    padding: 40px;
    opacity: 0.5;
}